<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Detalles del Pedido</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<h1>Editar Detalles del Pedido</h1>

<form th:action="@{/pedidos/{id}/detalles/update(id=${pedido.idpedido})}" method="post">
    <div th:each="detalle, iterStat : ${detalles}">
        <input type="hidden" th:name="detalles[__${iterStat.index}__].idpedidoDetalle" th:value="${detalle.idpedidoDetalle}" />
        <div>
            <label for="producto">Producto:</label>
            <input type="text" th:name="detalles[__${iterStat.index}__].idproducto" th:value="${detalle.idproducto}" readonly />
        </div>
        <div>
            <label for="cantidad">Cantidad:</label>
            <input type="number" th:name="detalles[__${iterStat.index}__].cantidad" th:value="${detalle.cantidad}" />
        </div>
        <div>
            <label for="precio">Precio:</label>
            <input type="text" th:name="detalles[__${iterStat.index}__].precio" th:value="${detalle.precio}" readonly />
        </div>
        <div>
            <label for="subtotal">Subtotal:</label>
            <input type="text" th:name="detalles[__${iterStat.index}__].subtotal" th:value="${detalle.subtotal}" readonly />
        </div>
    </div>
    <div>
        <button type="submit">Guardar cambios</button>
    </div>
</form>
</body>
</html>
